@import "mixins";

// Fonts

/* nunito-regular - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local("Nunito Regular"), local("Nunito-Regular"), url("https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofIO-aB.woff2") format("woff2"), url("https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofIO-aH.woff") format("woff"), url("https://fonts.gstatic.com/s/nunito/v9/XRXV3I6Li01BKofIO-aE.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* nunito-700 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: local("Nunito Bold"), local("Nunito-Bold"), url("https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAjsOUb-vI.woff2") format("woff2"), url("https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAjsOUb-vO.woff") format("woff"), url("https://fonts.gstatic.com/s/nunito/v9/XRXW3I6Li01BKofAjsOUb-vN.ttf") format("truetype"); /* Safari, Android, iOS */
}

//Util
.tac {
    text-align: center;
}

.fr{
    float: right;
}

.cl{
    clear: both;
    display: block;
}

// General
html {
    overflow-y: scroll;
}

body {
    position: relative;
    font-family: 'Nunito';
    overflow: hidden;
    margin: 0;
    background: $color_primary_lighter;
    color: $color_primary;
    min-height: 100vh;
}

input {
    font-family: inherit;
}

.container {
    padding: 0 rem(10);
    max-width: rem(850);
    margin: auto;
}

.mn_content {
    min-height: 60vh;
    padding-bottom: rem(225);
}

.box_style {
    box-shadow: $bxs;
    background: #fff;
    border-radius: rem(10);
    padding: rem(10);

    @media (min-width: rem(480)){
        padding: rem(20);
    }
}

.button {
    background: $color_primary;
    border-radius: rem(8);
    color: #fff;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    padding: rem(10) rem(30) rem(8);
    text-decoration: none;

    &:hover{
        background: $color_primary_light;
    }

    &--v2{
        color: $color_primary;
        border: 1px solid $color_primary;
        background: transparent;

        &:hover{
            background: $color_primary;
            color: #fff;
        }
    }

    &--prev::before,
    &--next::after {
        content: '';
        display: inline-block;
        border-top: rem(6) solid transparent;
        border-bottom: rem(6) solid transparent;
        position: relative;
        top: rem(1);
    }

    &--next {
        &::after {
            margin-left: rem(6);
            border-left: rem(10) solid currentColor;
        }
    }

    &--prev {
        &::before {
            margin-right: rem(6);
            border-right: rem(10) solid currentColor;
        }
    }
}

.error {
    color: #e34040;
    font-weight: 700;
    text-align: center;
    font-size: rem(24);
}

@import "app/issues/issues.component.scss";
@import "app/repo/repo.component.scss";
@import "app/footer/footer.component.scss";
@import "app/header/header.component.scss";
@import "app/search/search.component.scss";